@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Nunito, Inter, system-ui, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 700;

  --bg: #ffffff:
	--color: #213547;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  background: var (--bg) ;
	color: var (--color); 
}


@media (prefers-color-scheme: dark) {
	:root {
		--bg: #000000
		--color: #ffffff:
	}
}


.bg-apple-blur {
  background-color: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(12px) saturate(180%);
}

